<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title id="bttt" th:text="${'订单提取 - ' + config.mainTitle + ' - ' + config.subTitle}"></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" th:href="${tempPath + '/static/css/weui.min.css'}">
	<link rel="stylesheet" th:href="${tempPath + '/static/css/jquery-weui.css'}">
	<link rel="stylesheet" th:href="${tempPath + '/static/css/demos.css'}">
	<script th:src="${tempDefaultPath + '/assets/jquery.min.js'}"></script>
	<script type="text/javascript" th:src="${tempPath + '/static/js/jquery-2.1.4.js'}"></script>
	<script type="text/javascript" th:src="${tempPath + '/static/js/jquery-weui.js'}"></script>
	<script th:src="${tempDefaultPath + '/assets/jquery.cookie.js'}"></script>
</head>

<body ontouchstart>
	<header class='demos-header' style="padding: 30px 0;padding-bottom: 0px;">
		<span th:utext="${config.subNotice}"></span>
	</header>
	<div class="weui-cells weui-cells_form">
		<div class="weui-cell weui-cell_vcode">
			<div class="weui-cell__bd">
				<input class="weui-input" type="text" placeholder="请输入订单号或联系方式查询" id="nos">
			</div>
			<div class="weui-cell__ft" style="padding: 10px;">
				<button class="weui-btn weui-btn_mini weui-btn_primary" id="qeuryBtn" onclick="querysub()">订单查询</button>
			</div>
		</div>
	</div>

	<div class="weui-form-preview" th:if="${order != null}">
		<div class="weui-form-preview__hd">
			<label class="weui-form-preview__label" style="font-size: 16px;bold;color: #000;">订单编号</label>
			<p class="weui-form-preview__value" style="font-size: 16px;" th:text="${order.orderNo}" id="ordernoP"></p>
		</div>
		<div class="weui-form-preview__bd">
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">订单状态</label>
				<span class="weui-form-preview__value" th:text="${order.status == 1 ? '已完成' : '未完成'}"></span>
			</div>
			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">商品名称</label>
				<span class="weui-form-preview__value" th:text="${order.goodsName}"></span>
			</div>

			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">金额</label>
				<span class="weui-form-preview__value" th:text="${order.allPrice + '￥'}"></span>
			</div>

			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">卡密</label>
				<span class="weui-form-preview__value" th:text="${order.cardPwds}"></span>
			</div>

			<div class="weui-form-preview__item">
				<label class="weui-form-preview__label">付款时间</label>
				<span class="weui-form-preview__value" th:text="${#dates.format(order.lastModifyDate,'yyyy-MM-dd HH:mm:ss')}"></span>
			</div>
		</div>
	</div>

    <div class="weui-loadmore weui-loadmore_line" th:if="${order == null}">
		<span class="weui-loadmore__tips">暂无数据</span>
	</div>
	
	<div class="weui-btn-area">
		<a class="weui-btn weui-btn_primary" href="/" id="mysubmit">返回下单</a>
	</div>
</div>
</body>
<script th:src="${tempDefaultPath + '/assets/layer.js'}"></script>
<script>
	$(function(){
        $("#nos").val($("#ordernoP").text())
	})
	function querysub(){
		var no = $("#nos").val();
		var regx = /^[0-9]*$/;
        if(no == ""){
			layer.open({
				content: '请输入订单号或联系方式查询',
				btn: '我知道了'
			});
			return;
		}else{
            if(!regx.test(no)){
                layer.open({
                    content: '订单号或联系方式必须为数字',
                    btn: '我知道了'
                });
                return;
            }
		    var url = "/order/query/"+ no;
		    window.location.href = url;
		}
	}
</script>
</html>