/* CSS Document */
html,body,div,ol,ul,li,dl,dd,dt,menu,h1,h2,h3,h4,h5,h6,p,pre,code,fieldset,legend,form,input,button,textarea,blockquote,table,caption,tr,th,td,figure,hr,article,section,audio,video,embed,canvas,details,datalist,figure,figcaption{
	margin:0;
	padding:0;
	font-family: "Microsoft Yahei";
	font-size: 14px;
font-weight:normal;
}

body{
	overflow-x: hidden;
}

input,button,textarea,select,optgroup,option,code,pre{
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
li{
	list-style:none;
}
img{
	border:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	vertical-align:middle;
}
tr,th,td{
	vertical-align:inherit;
}
th{
	text-align:center;
}
iframe{
	height:inherit;
	width:inherit;
}
q:before,q:after{
	content:"";
}
html{
	font-family:"\5FAE\8F6F\96C5\9ED1","arial","\5B8B\4F53",monospace;
	_font-family:"arial","\5B8B\4F53",monospace;
}
a{
	outline:0;
}
.clearLine{
	_blr:expression(this.onFocus=this.blur());
	outline:0;
}
header,nav,article,section,aside,hgroup,figure,figcaption,canvas,audio,video,embed,isindex,map,menu,footer,.img2a,dl,dt,dd,.db{
	display:block;
}
a{
	text-decoration:none;
}
.none{
	display:none;
}
.clearfix:after,.wrapper:after{
	clear:both;content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.mt10{
	margin-top:10px;
}
.mt20{
	margin-top:20px;
}
.mb15{
	margin-bottom:15px;
}
.fwb{
	font-weight:bold;
}
.ti{
	text-indent:2em;
}
.cb{
	clear:both;	
}

/**С��ʿ*/
.three_main_box>ul>li{
	list-style: inside url(../../../images/li.png);
	height: 42px;
	line-height: 42px;
	padding-left: 10px;
	border-bottom: 1px dashed #C8E2D4;
	font-size: 13px;
	color: #484848;
	cursor: pointer;
	margin: 0;
	/*padding: 0;*/
	display: list-item;
	text-align: -webkit-match-parent;
}
.three_main_box>ul>li>a{
	text-decoration: none;
	cursor: pointer;
	color: #292929;

}
.three_right>ul>li{
	list-style: inside url(../../../images/li.png);
	height: 42px;
	line-height: 42px;
	border-bottom: 1px dashed #C8E2D4;
	font-size: 13px;
	color: #484848;
	cursor: pointer;
	margin: 0;
	display: list-item;
	text-align: -webkit-match-parent;
	padding-left: 20px;
}
.three_right>ul>li>a{
	text-decoration: none;
	cursor: pointer;
	color: #292929;

}